header img {
    width: 100%;
}
.pokedex__title {
    max-width: 100%;
    display:flex;
    flex-direction:inherit;
    justify-content: flex-start; 
    font-size: 1rem;
    padding-bottom: 5px;
    gap: 5px;
}
.pokedex__title span {
    color: #D93F3F;
}
.pokedex__form {
    width: 100%;
    display:flex;
    justify-content:center;
    align-content: baseline;
    gap: 10px;
   
}

.pokedex__container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px
}
.pokedex__btn {
    border: 2px solid #D93F3F;
    background-color: #D93F3F;
    color: white;
    padding: 0 10px;
}